body {
  background-color: #EDF3F8;
}
.hero-header {
  background-image: url(./assets//shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: calc(100% - -5vw) calc(-10vw);
  border: 1px solid var(--primary-color-waterWhite);
}
.hero-header, .partners {
  width: 100%;
  padding: 0 var(--spacing-xlarge);
}
header {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family-body);
  margin: var(--spacing-xsmall) 0;
}
nav {
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 60%;
  font-size: var(--font-size-xsmall);
  text-transform: capitalize;
  font-weight: 500;
}
.link {
  text-decoration: none;
  color: var(--secondary-color-lightJuanBlue);
  }

  .btn {
    border-radius: var(--border-radius);
    background-color: var(--primary-color-darkPink);
    padding: var(--spacing-xsmall);
    color: var(--primary-color-waterWhite);
    font-family: var(--font-family-body);
  }
  .btn:hover {
    background-color: var(--secondary-color-charmPink);
  }

  /* hero-content style */
  .hero-content {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cta-intro {
    width: auto;
  }
  .cta-question {
    color: var(--secondary-color-lightJuanBlue);
  }
  .cta-link {
    text-decoration: none;
    color: var(--secondary-color-lightJuanBlue);
    font-weight: 700;
  }
  
  .cta-heading {
    width: auto;
    color: var(--secondary-color-juanBlue);
    font-weight: normal;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
  }
  .input-wrapper {
    position: relative;
    width: auto;
  }
  .input-field {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    width: 88%;
    box-sizing: border-box;
    border: none;
    padding: 13px var(--spacing-small);
    border-radius: var(--border-radius);
    font-family: var(--font-family-body);
    color: var(--secondary-color-juanBlue);
    font-weight: 600;
    display: flex;
    cursor: pointer;
  }
  .input-field:focus {
    outline: none;
  }
  .input-btn {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    position: absolute;
    right: 4rem;
    top: 0;
  }

  /* the partner section */
  .partners {
    min-height: 20rem;
    background-color: var(--secondary-color-mirrageBlue);
    color: var(--primary-color-waterWhite);
    background-image: url(./assets//shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -20% 110%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: var(--spacing-large);
  }
  .cta-partners {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: fit-content;
  }
  .partners-heading {
    font-weight: 500;
  }
  .partners-text {
    line-height: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }
  .partners-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-large);
    list-style-type: none;
  }
  .cta-about {
    width: 30%;
    background-color: transparent;
    border: 1px solid var(--primary-color-waterWhite);
    text-decoration: none;
    text-align: center;
  }
  .cta-about:hover {
    background-color: var(--primary-color-waterWhite);
    color: var(--secondary-color-mirrageBlue);
    font-weight: 700;
  }

  /* implementation section */
  .implementation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: var(--spacing-medium);
  }
  .implementation-details {
    max-width: 35%;
  }
  .implement-heading, .ui-heading, .finance-heading {
    font-weight: 500;
    color: var(--secondary-color-juanBlue);
    margin-bottom: var(--spacing-small);
  }
  .implement-text, .ui-text {
    width: 85%;
    line-height: var(--spacing-medium);
    color: var(--secondary-color-lightJuanBlue);
  }

  /* ui section */
  .ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-xlarge);
    background-image: url(./assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(100% - -18vw) calc(0vw);
  }


  /* finance section */
  .finance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-xlarge);
    gap: var(--spacing-small);
  }
  .personal, .banking, .consumer {
    width: 30%;
    text-align: center;
  }
  .finance-icon {
    width: 4rem;
    margin-bottom: var(--spacing-small);
  }
  .finance-text {
    color: var(--secondary-color-lightJuanBlue);
    line-height: var(--spacing-small);
  }

  /* cta start */
  .cta-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-large) var(--spacing-xlarge);
    min-height: auto;
  }
  .start-form {
    display: flex;
    align-items: end;
    width: 30%;
    height: 80%;
    position: relative;
  }
  .start__input-field {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 13px var(--spacing-small);
    border-radius: var(--border-radius);
    font-family: var(--font-family-body);
    color: var(--secondary-color-juanBlue);
    font-weight: 600;
    cursor: pointer;
  }
  .start__input-field:focus {
    outline: none;
  }
  .start_input-btn {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    position: absolute;
    right: 0;
    top: 0;
  }

  /* footer */
  footer {
    padding: var(--spacing-xsmall) var(--spacing-xlarge);
    background-color: var(--secondary-color-mirrageBlue);
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-body);
  }
    
  footer * a{
    text-decoration: none;
    color: var(--secondary-color-lightJuanBlue);
  }
  footer * a:hover {
    color: var(--primary-color-waterWhite);
  }
  .footer_logo {
    display: block;
    fill: var(--primary-color-waterWhite);
  }
  .social-media {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }

  /* media queries */
  @media screen and (min-width: 1500px) {
    .hero-header {
      background-size: 40%;
    }
  }
/* style the hamburger button to take it out for the time being. We shall revist */
.hamburger-menu, .hamburger-close {
  display: none;
}